@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 0;
  --border-btn: 0;
}

.drawer > .drawer-toggle:checked ~ .drawer-side > .drawer-overlay + * {
  opacity: 100;
}

.drawer > .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
  opacity: 0;
  transition-property: transform, opacity;
}
